/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Appliquer le fond noir */
body {
    background-color: black;
    color: white; /* Texte en blanc pour contraste */
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* Style de l'en-tête */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Style de la section de projet */
.project {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fond légèrement transparent pour le contenu */
    border-radius: 10px;
}

.project h2 {
    font-size: 24px;
    margin-top: 10px;
}

.project p {
    font-size: 18px;
    margin-top: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    max-height: 200px; /* Limiter la hauteur des images */
}

/* Style du pied de page */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fond légèrement transparent pour le pied de page */
    border-top: 1px solid white; /* Barre de séparation en haut du pied de page */
}

/* Liens */
a {
    color: #007BFF; /* Couleur des liens */
    text-decoration: none; /* Supprimer la soulignement des liens */
    transition: color 0.3s; /* Transition de couleur lors du survol */
}

a:hover {
    color: #55c500; /* Nouvelle couleur au survol */
    text-decoration: underline; /* Souligner les liens au survol */
}
